[submodule "Spark/vendor/spdlog"]
	path = Spark/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Spark/vendor/ImGui"]
	path = Spark/vendor/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "Spark/vendor/GLFW"]
	path = Spark/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Spark/vendor/glm"]
	path = Spark/vendor/glm
	url = https://github.com/g-truc/glm