!Saturn/vender/assimp/bin/
!Saturn/vender/physx/bin/
!Saturn/vender/mono/bin/
!Saturn/vender/assimp/bin/**
!Saturn/vender/physx/bin/**
!Saturn/vender/mono/bin/**
!Saturn/vender/assimp/bin/*
!Saturn/vender/physx/bin/**
!Saturn/vender/mono/bin/*

# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

[dD]esktop.ini

**/assets/tex

assets/**
Titan/*.json
Titan/dna.txt
Saturn/vendor/imgui/examples/example_allegro5
Saturn/vendor/imgui/examples/example_apple_metal
Saturn/vendor/imgui/examples/example_apple_opengl2
!Saturn/vendor/assimp/bin/
!Saturn/vendor/physx/bin/
!Saturn/vendor/physx/bin/Debug/**
!Saturn/vendor/physx/bin/**/**
!Saturn/vendor/physx/bin/Dist/**
!Saturn/vendor/mono/bin/
!Saturn/vendor/assimp/bin/**
!Saturn/vendor/physx/bin/**
!Saturn/vendor/mono/bin/**
!Saturn/vendor/assimp/bin/*
!Saturn/vendor/physx/bin/*
!Saturn/vendor/mono/bin/*
!vender/bin/premake
Titan/assets/testtemp.sc
Saturn/vendor/**/Makefile
Saturn/Makefile
Makefile
Titan/rp3d_log_Test.html
*.csproj
*.csproj.user
Titan/assets/assembly/SaturnScript.pdb
Titan/version-control.vcinfo
Titan/assets/EngineSettings.eng
Output-Build.txt
*.scor
*.incl
*.t0*

# Codelite files
*.mk
*.project
**/.codelite/
*.workspace

premake5

Titan/Titan.txt

Saturn/Saturn.txt

Saturn/vendor/Glad/Glad.txt

Saturn/vendor/imgui/ImGui.txt

**/.build-*/**.**
**/.build-debug/**.**
**/.build-release/**.**
**/.build-rdist/**.**
**/.build-dist/**.**

.build-*/**.**
.build-debug/
.build-release/
.build-rdist/
.build-dist/
