# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#VS 2015 STUFF
Sparky.VC
Sparky.VC.VC.opendb
Sparky.VC.db
**.VC
**.VC.db
**.VC.VC.opendb

#bin stuff
Bin
Bin-int

