!Saturn/vender/assimp/bin/
!Saturn/vender/physx/bin/
!Saturn/vender/mono/bin/
!Saturn/vender/assimp/bin/**
!Saturn/vender/physx/bin/**
!Saturn/vender/mono/bin/**
!Saturn/vender/assimp/bin/*
!Saturn/vender/physx/bin/**
!Saturn/vender/mono/bin/*

# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

[dD]esktop.ini


**/assets/tex
**/assets/tex


Titan/SaturnProfile-Runtime.json
Titan/SaturnProfile-Shutdown.json
Titan/SaturnProfile-Startup.json
assets/**
Titan/*.json
Titan/assets/meshes/Walther_01
Titan/assets/meshes/KrissVector
Titan/dna.txt
Saturn/vendor/imgui/examples/example_allegro5
Saturn/vendor/imgui/examples/example_apple_metal
Saturn/vendor/imgui/examples/example_apple_opengl2
!Saturn/vender/assimp/bin/
!Saturn/vender/physx/bin/
!Saturn/vender/physx/bin/Debug/**
!Saturn/vender/physx/bin/**/**
!Saturn/vender/physx/bin/Dist/**
!Saturn/vender/mono/bin/
!Saturn/vender/assimp/bin/**
!Saturn/vender/physx/bin/**
!Saturn/vender/mono/bin/**
!Saturn/vender/assimp/bin/*
!Saturn/vender/physx/bin/*
!Saturn/vender/mono/bin/*
!vender/bin/premake
Titan/assets/testtemp.sc
Saturn/vendor/**/Makefile
Saturn/Makefile
Makefile
Titan/rp3d_log_Test.html
*.csproj
*.csproj.user
Titan/assets/assembly/SaturnScript.pdb
Titan/version-control.vcinfo
Titan/assets/EngineSettings.eng
Output-Build.txt
