[submodule "Saturn/vendor/GLFW"]
	path = Saturn/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Saturn/vendor/glm"]
	path = Saturn/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Saturn/vendor/spdlog"]
	path = Saturn/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Saturn/vendor/imgui"]
	path = Saturn/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Saturn/vendor/stduuid"]
	path = Saturn/vendor/stduuid
	url = https://github.com/mariusbancila/stduuid
